* {
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 18px;
  color: #636363;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

header {
  background: #B3E5FC;
  height: 15px;
}

.wrapper {
  max-width: 1440px;
  padding: 0px 10px 0px 10px;
  margin: 0 auto;
}

.name {
  font-size: 40px;
}

.tabs {
  display: table;
  margin: 0 auto;
  padding: 40px 0px 40px 0px;
}

li {
  list-style-type: none;
  display: inline;
  padding: 20px;
}

a {
  text-decoration: none!important;
  color: #636363;
  font-size: 25px;
}

a:hover {
  color: #19B7FF;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: #B3E5FC;
}

.info * {
  font-size: 40px;
  padding: 20vh 0 20vh 0;
  text-align: center;
}

.info p span {
  color: #19B7FF;
  font-weight: 500;
}

.django-article {
  display: inline;
}

img {
  vertical-align: text-top;
}