* {
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 18px;
  color: #636363;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to right, #614385, #516395);
}

::selection {
  background: #614385; 
  color: white;
}

.tabs {
  display: table;
  margin: 0 auto;
  padding: 20px 0px 130px 0px;
}

li {
  list-style-type: none;
  display: inline;
  padding: 10px;
}

.container {
  background: rgb(245, 245, 245);
  position: relative;
  top: -22px; 
}

.info p {
  padding: 45px;
  font-size: 40px;
  height: 30vh;
}

.info p span {
  font-size: 40px;
  font-weight: 500;
}

.info a {
  text-decoration: none;
}

.info p a span {
  font-weight: 400;
  font-size: 30px;
}

h3 {
  font-weight: 400;
  text-align: center;
}

.about {
  padding: 40px 40px 40px 40px;
  margin: 0px 40px 0px 40px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
}