{% extends 'base_layout.html' %}

{% block content %}
<div class='info'>
  <p>
    <span>Hasan</span> Qazi <br />
    <a href="" class="typewrite" data-period="2000" data-type='[ "I am a Web Developer.", "I like coding.", "I Love to Develop." ]'>
      <span class="wrap"></span>
    </a>
  </p>
</div>
<div class="tabs">
  <ul>
    <li><a href=>Projects</a></li>
    <li><a href=>About Me</a></li>
    <li><a href="{% url 'blog:showblog' %}">Blog</a></li>
    <li><a href="{% url 'contact:contactform' %}">Contact</a></li>
  </ul>
</div>
{% endblock %}