{% extends 'base_layout.html' %}

{% block content %}
<div class='info'>
  <p>
    Hi, I'm <span>Hasan</span> Qazi. <br />
    I create websites.
  </p>
</div>
<div class="tabs">
  <ul>
    <li><a href=>Projects</a></li>
    <li><a href=>About Me</a></li>
    <li><a href="{% url 'blog:showblog' %}">Blog</a></li>
    <li><a href="{% url 'contact:contactform' %}">Contact</a></li>
  </ul>
</div>
<div class='projects'>
  <div class='django-article'>
    <p><img src='https://via.placeholder.com/500' height="250" width="250">Django article</p>
  </div>
</div>
{% endblock %}