{% extends 'base_layout.html' %}

{% block content %}
<div class='info'>
  <p>
    <span>Hasan</span> Qazi <br />
    <a href="" class="typewrite" data-period="2000" data-type='[ "I am a Web Developer.", "I like coding.", "I Love to Develop." ]'>
      <span class="wrap"></span>
    </a>
  </p>
</div>
<div class="tabs">
  <ul>
    <li><a href=>Projects</a></li>
    <li><a href=>About Me</a></li>
    <li><a href="{% url 'blog:showblog' %}">Blog</a></li>
    <li><a href="{% url 'contact:contactform' %}">Contact</a></li>
  </ul>
</div>
<h3>About me</h3>
<div id="about-me" class="about">
  <p>
    At the age of 14 I found Gamemaker which was my first introduction to programming
    I started creating my first few platformer video games but after a while I found Gamemaker to be
    very limiting so I started learning Unity and C# to make 3D games. At 16 I delved into 
    web development which enable me to create beautiful web applications using Django, Javascript and
    Bootstrap. <br />
    Currently I am working towards my Computer Science degree. If you want to contact me 
    feel free to send me a text or an email.
  </p>
</div>
{% endblock %}